html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#base-area {
    width: 100%;
    position: relative;
    height: 100%;
}

.navbar {
    margin-bottom: 0;
}

.side-menu {
    height: 100%;
    width: 12%;
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    padding-left: 0;
}

.side-menu > li {
    text-align: center;
    line-height: 45px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #8c8c8c;
    border-right: none;
}

.base-content {
    height: 100%;
    width: 88%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #8c8c8c;
}

h1 {
            margin: 5%;
        }
.admin_paginator {
    margin-left: 48px;
    font-size: 1.1em;
}
